html{
  margin:0;
  padding:0;
            }
body{
  margin:0;
            }
nav{
  background-color: #000000;
  align-items: center;
  justify-content: space-evenly;
  display: flex;
  overflow: hidden;
  color: #ffffff;
            }
.nav-link{
  float: left;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
            }
            
.nav-link:hover {
  background-color: #ddd;
  color: #ffffff;
            }
            
.nav-link a.active {
  background-color: #04AA6D;
  color: #ffffff;
            }
            
.copyright{
    font-size:18px;
    text-align:center;
    padding-bottom:10px;
    color:black;
            }  
.links{ 
    color:#ffffff;
            }
.copyright{
    font-size:18px;
    text-align:center;
    padding-bottom:10px;
    color:black;
            }
